<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
  <body style="background-image: url('https://etimg.etb2bimg.com/thumb/complete-auto-sales-analysis-june-2019-domestic-sales-continue-to-slide-size-674875/70027852.cms?width=1000&height=480');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
    <h1 style="color:red; margin-top:20px; margin-left:20px; font-size:60px; font-family: 'Lucida Bright', cursive; background-color:#ffffff">Get the best car for you</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <div style="background-color:#ffffff; opacity: 0.8; text-align: center; margin-top: 70px; margin-left: 360px; margin-right: 360px;">
        <br><br><br><br>
        <div style="opacity: 1;">
    <form action = "" method = "post" novalidate> 
        {% csrf_token %}
        
        {{fm.as_p}}
        <br> <br> <br><br><br>
        <input class="btn btn-success" type="submit" value="Submit">
    </form>

</div>
    <br><br><br>
</div>
</body>
</html>